@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Deine Farbvariablen */
  }

  * {
    @apply border-border;
  }

  html {
    font-family: 'Inter', sans-serif;
    height: 100%; /* Füge dies hinzu */
  }

  body {
    @apply bg-background text-foreground font-inter;
    min-height: 100vh; /* Oder height: 100%; beides testen */
    margin: 0; /* Stelle sicher, dass es keine Standard-Margins gibt */
  }

  h1 {
    @apply text-5xl font-bold text-primary;
  }

  h2 {
    @apply text-xl font-normal;
  }
}

@layer components {
  /* Deine Komponenten-Styles */
}